* {
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: rgb(90, 6, 26);
    --bg-color: #000000;
    --text-color: #f4f4f4;
    --font-size: 18px;
    --max-width: 100%;
    /*1480px*/
    --standard-max-width: 1280px;
}

body {
    /* max-width: 1200px; */
    background-color: black;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    max-width: var(--max-width);
    width: 100%;
}

.controllerHeader {
    cursor: pointer;
    width: 100%;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 18px 0px;
    border-bottom: 1px solid red;
}

.leftheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logopage img {
    width: 70px;
    border-radius: 50%;
}

.namepage h2 {
    font-size: clamp(1.5rem, 1.5vw, 2rem);
    margin-right: 10px;
}

.centerheader {
    text-align: center;
}

.futurepage {
    display: flex;
    text-align: center;
    gap: 5.5px;
}

.optionheader {
    width: 120px;
    color: aliceblue;
    font-size: clamp(0.5rem, 1.5vw, 1rem);
    padding: 9px;
    border-radius: 8px;
    text-decoration: none;
}

.optionheader:hover {
    width: 120px;
    color: black;
    font-size: clamp(0.5rem, 1.5vw, 1rem);
    padding: 9px;
    border-radius: 8px;
    transition: 4s;
    background-color: aliceblue;
}

.active {
    width: 120px;
    color: black;
    font-size: 18px;
    padding: 9px;
    border-radius: 8px;
    transition: 4s;
    background-color: aliceblue;
}

.rightheader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
}

.rightheader a {
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
    text-decoration: none;
}

.profileuser img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    border: 0.8px solid white;
}

main {
    max-width: var(--max-width);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.controll {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ===== Loader data ===== */

.loaderData {
    position: relative;
    width: 240px;
    height: 130px;
    border: 1px solid #d3d3d3;
    padding: 15px;
    background-color: #7e7e7e;
    overflow: hidden;
}

.loaderData .controllLoader {
    width: 100%;
    height: 100%;
    position: relative;
}

.loaderData .controllLoader>div {
    background-color: #cacaca;
}

.loaderData .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.loaderData .line {
    position: absolute;
    height: 10px;
    background-color: #cacaca;
}

footer {
    max-width: var(--max-width);
    height: 250px;
    text-align: center;
    border-top: 1px solid white;
    padding: 25px;
    background-color: rgb(90, 6, 26);
    overflow: hidden;
}

.footer-left img {
    width: 100px;
}

.footer-left .pinter {
    width: 40px;
    border-radius: 50%;
}