.label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 120px;
}

.label>a {
    text-decoration: none;
    padding: 10px 8px;
    border-radius: 8px;
    font-family: serif;
    font-size: small;
    color: #ffffff;
    background-color: rgb(27, 179, 27);
    &:hover {
        background-color: rgb(65, 216, 65);
    }
}

.table {
    margin-top: 25px;
}

.table-data {
    border-collapse: collapse;
    border-radius: 6px;
}

.table-data tr,
th,
td {
    border: 1px solid black;
}

.center {
    text-align: center;
}

.table-data th {
    background-color: aqua;
}

.table-data th,
td {
    text-align: left;
    padding: 8px;
}

.mr-3 {
    margin: 5px;
}

.fa-eye,
.fa-pen,
.fa-trash {
    color: rgb(192, 0, 0);
}