* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    text-decoration: none;
}

body {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    border: 2px solid #000000;
    padding: 25px;
    width: 550px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 25px;
    text-align: center;
}

.input-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.top {
    display: flex;
    flex-direction: row;
}

.input-box input {
    border: none;
    padding: 5px;
    width: 250px;
}

.input-box input:focus {
    border: none;
    outline: 2px solid brown;
}

form .btn {
    width: 250px;
    padding: 5px;
    background-color: brown;
    color: white;
    border-radius: 8px;
}

.clasdBtn {
    max-width: 550px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-link {
    text-align: center;
}

.register-link a {
    text-decoration: none;
    color: blue;
}

.invalid-feedback {
    color: red;
    font-size: 8px;
}