* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* max-width: 1200px; */
    background-color: black;
}

body::-webkit-scrollbar {
    display: none;
}

main {
    display: flex;
    align-items: center;
    padding: 25px;
}


/* User Profile Styles */

main .controlUser {
    color: white;
    display: flex;
    align-items: center;
    gap: 20px;
}

main .dataProfile {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

main .iconUser img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

main .nameUser {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.userName {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.major {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.position {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    text-align: center;
}