.admin {
    color: darkred;
    font-style: oblique;
    font-size: 14px;
    font-family: Impact, sans-serif;
}

.ceo {
    color: yellow;
    font-style: oblique;
    font-size: 14px;
    font-family: Impact, sans-serif;
}

.hero {
    color: orangered;
    font-style: oblique;
    font-size: 14px;
    font-family: Impact, sans-serif;
}

.founder {
    color: darkgreen;
    font-style: oblique;
    font-size: 14px;
    font-family: Impact, sans-serif;
}

.expert {
    color: gold;
    font-style: oblique;
    font-size: 14px;
    font-family: Impact, sans-serif;
}

.new {
    color: darkorange;
    font-style: oblique;
    font-size: 14px;
    font-family: Impact, sans-serif;
}

.pro {
    color: darkgoldenrod;
    font-style: oblique;
    font-size: 14px;
    font-family: Impact, sans-serif;
}

.Myname,
.Mymajor {
    color: white;
}

.point500 {
    color: gray;
}

.point1000 {
    color: chocolate;
}

.point1500 {
    color: rgb(167, 33, 0);
}

.point2000 {
    color: rgb(178, 53, 0);
}

.point2500 {
    color: rgb(178, 36, 0);
}

.point3000 {
    color: rgb(188, 38, 0);
}

.point3500 {
    color: rgb(199, 40, 0);
}

.pointer {
    cursor: pointer;
}