* {
    box-sizing: border-box;
}

.contentAbout {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideAbout {
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.boxSliceAbout {
    max-width: 1400px;
    position: relative;
    margin: auto;
}

.boxSliceAbout img {
    width: 800px;
    height: 350px;
    border-radius: 12px;
    object-fit: cover;
    vertical-align: middle;
}

.NoneDisplay {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 0.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.active {
    background-color: #717171;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.ConDot {
    display: none;
    position: absolute;
}