* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #000000;
    color: #ffffff;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    height: 30px;
    padding: 25px;
    display: flex;
    align-items: center;
}

main {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.forPositionFixed {
    width: 100%;
    padding: 25px 0;
    height: 30px;
    position: fixed;
    display: flex;
    align-items: center;
    backdrop-filter: blur(5px);
    z-index: 99;
}

.forPositionFixedNav {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.forPositionFixedNav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    &:hover {
        color: darkred;
    }
}

.admin-panel {
    width: 12%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 25px;
}

.admin-info {
    width: 88%;
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    gap: 15px;
}

.hello-admin {
    margin-bottom: 25px;
}

.admin-info-left {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.admin-info-right {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.title-email,
.title-files,
.title-database {
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 4px;
    border-bottom: 1px solid #ffffff;
    cursor: pointer;
}

.admin-info-email,
.admin-info-files,
.admin-info-database {
    width: 95%;
    border-radius: 5px;
    padding: 5px;
    background-color: #212121;
}

.control-admin-info-email-option,
.control-admin-info-files-option,
.control-admin-info-database-option {
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    padding: 19px;
    gap: 45px;
}

.admin-info-email-acc a,
.admin-info-files-acc,
.admin-info-database-acc a {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    gap: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    &:hover {
        color: darkred;
        border-bottom: 1px solid #5b0000;
    }
}

.admin-domain {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.admin-domain-sharing {
    display: flex;
    flex-direction: column;
}